
@font-face {
  font-family: 'Futura-CondensedExtraBold';
  src: url('../fonts/Futura-CondensedExtraBold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura-CondensedExtraBold';
  src:  url('../fonts/Futura-CondensedExtraBold.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADJwAA8AAAAAVXAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAyVAAAABoA
AAAcSSsxIUdERUYAADDMAAAAHwAAACABFAAGR1BPUwAAMQwAAAFGAAAB+uBc9iRHU1VCAAAw7AAA
ACAAAAAgbJF0j09TLzIAAAHQAAAATQAAAGAUVShMY21hcAAABDQAAAGmAAAB8sPXXIpnYXNwAAAw
xAAAAAgAAAAI//8AA2dseWYAAAesAAAlrwAAQ+CyZldCaGVhZAAAAVgAAAA1AAAANhE7UnNoaGVh
AAABkAAAACAAAAAkB44Dt2htdHgAAAIgAAACEgAAA5rW9R4xbG9jYQAABdwAAAHQAAAB0FONZQZt
YXhwAAABsAAAAB4AAAAgATAATW5hbWUAAC1cAAACAwAABAg/iZpAcG9zdAAAL2AAAAFkAAAB8DZM
NwJ42mNgZGBgYGQ4knmf+W48v81XBm7mF0ARhuvabW9h9H/H/5wsyczPGRQZOBiYQKIAlf8OMgAA
AHjaY2BkYGB+/p+TgYGl9b/jfyeWZAagCAp4BgCKnwZMeNpjYGRgYHjO4MXAzgACTEDMyAAScwDz
GQAicQF+AAB42mNgYrzCtIeBmYGBqYupi4GBYRqEZvzCYMTwkAEJNDAw6DswMHggizEoMCj8ZmKW
/S/C4M78nOG7AgOjoCNQmEmA6RNYlgkAukoN0QAAAHjabZJNaxRBEIbf6hE/ksMeQkzUMO6Hu36g
40Zd1+CqWVwhBJIgKF5WBCGIUYJ68CADouDBj4Mg4h8Q8ZKc8wO8es9BBPEiXkTMQYM6Pt27JDFk
4KG6p7uqq+otSxQ+mwDWVtUeV9Gwa+sUXI92qeg+6Kjt17CNqgJD9ga7pJ2WZL+syTpR2b3UJPdL
8ALK4GPshuOQwKEuib8ffJe0I8QBV9BQdBq/y9rqrqrhtqvibqhhP+AT+3vs77BuwbwG2TdsQY1o
RDn3jPOn+I51bZuzRfL6qAE3q7obl6ILkrvG3XPEn9SAHVRey9kDbA/v50CWUvOIYqjZbLCxyyu2
+9gTcIb/IXdyGQ3rWjSumv/v9nFex9a5/5az99jHOuBqqlJLLiry9hT5YKnJv29aVgvrQg+qxGzr
VbdHVejz5+6wSpZmGb0ZtIvqdX2d3od9mv2x5zoS/GeIM0PsVNMhn4p6Q66p7vL/LL493jd6ogkY
gxI9L4R+b8Q7QIPQ/1VO0v9C0KCV/YbP7rY2r/R/HeRVwPYHDdbiNfBaTXd7vAHUFwcN8v9DTVt8
35mf77Do9nZ0Cf1fR5grv/YarMVr4bXyWvhYC9lPP4/MUjlq4udnB/1WZgW9wkylvueBbXATzsMV
dPiLlZ+h6Ise2i38u1DjKpc62Gv1c+/Ypkcq2hR70NesGbWzbyHnOcWK/wGIPpmEAAB42mNgYGBm
gGAZBkYGEHgD5DGC+SwMF4C0AYMCkCXAUMewhuE/oyGjE2MwYyJjBWMd4ySm40x3FUQUpBTkFJQU
1BQMFKwUXBSVlIR+M/3/D9SpwLCQYR1QhyNjEGMCUEctUMcxphsKwgoSCjIKCmAdllAdjP///3/8
/+D/A//7/zf8L/yf+t//v/d/i3+sf78+OPBg74M9D3Y/2PFg/YPlD+bdP3jvEusTqGtJAoxsDHBt
jExAggldATAoWFjZ2Dk4ubh5ePn4BQSFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTS1tHV09fQNDI2M
TUzNzC0sraxtbO3sHRydnF1c3dw9PL28fXz9/AMCg4JDQsPCIyKjomNi4+ITEhlaWts7J06bs3DB
oiWLly5fuWLV6rVr1q3fuHnTlm1bd+3cved2QXJKxt2y+XlZj0syGdpmMBQyMKSVgl2XXcWwbEd9
Ui7DKQaGnOp7DA3NUw8fuXzlxs2r17Yz7D/+iOHBw6fP7pRfv3W/qauxu6O3r79n8hSGSbNmzzxw
+mL+2XPnKy5dOAMACyKXEAAAAAAAAAAAAAAAAAAcADIAYgCkANYBHAEqAUIBWgF4AYwBmgGmAbwB
ygHwAgACLAJmAoYCrgLYAugDIANIA24DjAOeA7IDxgP4BEwEbgSiBM4E8gUGBRoFXAVyBX4FnAW4
BcgF8gYUBjgGWAaABqwG6Ab6ByIHPgd0B5gHrgfOB+AH7ggACBQIIAguCGYIlgi2COYJEgkyCXIJ
mgm0Cc4J6An0CigKSgpiCpIKwgrcCw4LIgtAC1gLhAumC8AL2AwGDBQMQgxmDIIMrAzwDSgNVg1o
DdIN9g5EDn4OmA6oDvQPAg8iDzwPYg+WD6QPyA/kD/oQDBAcEEAQXBCOEMYRHBFOEXYRnhHKEgQS
RBKAEqwS5BMAExwTPBNuE4ATlBOqE9IT/hQ4FGIUjBS6FPYVNhVQFZIVwBXuFiAWZhaCFqIW3Bca
F1oXnBfuGEYYmhjsGRYZSBl6GbAZ+BoKGhwaMhpcGpQazhruGw4bMhtkG5obshvaHAAcJhxOHIwc
rhziHRwdKB1CHVodkB3aHiAeXB6QHroe3B8WHygfOh9WH2wfjh+oH8gf3B/qH/ggBiAWICQgOiBQ
IGYgfCCaILIg6CEsITwhTiFcIYQhkCHIIfB42p18CXhb1ZXwO/dp8S7JWi15k2RJXmRJ1mJ53+Ld
WY23OM5G9sTOYmeFJASSkLAkLAXSQEIDhCQtLWHSAQqlA7ROaCEwTNN/mJIf2sK0U/qVpQm0JI2l
Ofe+J1l2ZMI3iSU9+917tnvOuefcc544wuWFv4JEPotL5hQcp7fYA/5Sn1en1cjUVpXvEU9Dg7Ok
ubH8jTeSGz2uaQ1edwNkEAVHuBLYD1+RSxzPyTkOrLyPvd67J/uN0B/xDe+uDj0CqzkOx1bjWw75
jDNxOThWa5Vbg+wV8LGXT85e+HeHVe4j0mXZvVnd2f3ZA4NpCwYze009pv7Mm5akTO9J6YHZwx/i
v+GFw2/jv+GFCxciQG5V+BG4zC/inPhLwKfV6bV2q0Wm1WTz+mxAVuRaa8DuCGSDz1sa8DvsDhcg
m5A6r76stlqTnaBONZKGio7mgf5pulZbhqWUJ9PqesiVFYtllo86DdokjTpZTfz9rbNvz1o3n+T8
1eo1msz5PJQONPXsQRY5KWcJ/4lc4VUojWROzemRVy7dq9PILHa/zqLxSmKupQ7Qbz3S03Ok5xc1
NWCJXIUCs4huDgmvfnz16selDx0SP7eXkcvlFAfP+cKXyS9ImEvi8hivlEd9DfJiVztkVrZ2wfEF
lOuDerne5sBBOp8X5mVlea3ZOVuyevsW39tcVbmre/EdHVXt01d2rQ09PcdfZNaQzVZtUZm5SKfN
G7u7oHT/4roV5rYZ3euH51YttyzuuXvmgdMjWfb8PI7KHNef+5qtP6fGlX9fXHN2zx7eCXlIZzLe
8wf1abgGOr3cbt+2t7ikpHjvNqj57EJNzzuLFr7TXX0Bx2fieKM4HimXOxhPjie2CRNI+MJnn16o
7n5n4aJ3ehh8+D7sQtxp+ItD7gg6gnpcdsotyCpqWmoWmvsHVpqWl8H357SXzcjrtiwfsvZZOhlt
Rk4GF+ESw4WTUOtQOayB10dOnhw5CeUvvTTy2msjHISvhBdBFvcW5c/GW9WQtefYwFuhh2ENxc99
DiZ4gN1DBQbTV199/iT+3Ya2lMS9T2HHWtIh0YqiJkTpmBneT1rQ7hCG3gq+8zvh1p1b+YeZvVhx
nctRHlSPUIuyeU0ab3Hx/hqisyi9l7YuqrArFPaKRZGLD/fsIWHvzNXLB5evnumNXGwPzUY830Fk
z6GspBxntqqsATM8d34OZJHGZzkmDxsiLEVcqK9qh0ixHJWqErRmdWkQ7QVtKQva4cDw6j1nSUK7
pmvs6zdmGrL0hhL4nWn4OwdW/+B5ArJnIXGVr8pnLBjIFPQDeShEuPkcF9SLlmcvQvP0RkDKa0BU
VPqG6hv8GkimOjPTb8/MKCzQ6ArOyvetXHSXp2j5d9cMHpR8mJqV5cgqyv+epchQUCGFFTt2LCrp
0gd2rNx2u+Bn0LuQasarknoCf9Ah15sDap+KrTKUJZBtg6HPPr5aX/8WVN6e3E0+fvJ78HKo7cnD
gixKkWYbzs/guFrQRSiVq83omsS1tFpKDXNbimqbPU0NFbD1PaUmceHu49s2uM6UFhcU55vgJ8/2
kf0Ltx6h9LgQXjHCU1KIwOujMFA3akHtZeC1GnjzcWK2dS27b+vGPXfU1lcYc8vJpdAXRPvI3G2P
Ht204+utY08N2SqXrKY0FiPggch6ghnXM+Ei6MMcMdAl5blixOlGucvRn+PallIk6CfSqa/A63TB
SwToO1tqLfWQ/1ye4c/o8Gj6qt493FC94eCbBzdUNzw0N9PjyYQN9oympoyxn+5Y0rBAS8w7F23e
vGinmWgXNCxhPOIbWqjAoy/qhxinCuAtzPkE/A8+TvIs3cvu37px9+119eXG3CAoBQaPbN7+9Tay
YG1e1ZI1CI/ZEKFeFHVfHWNFfByLcoufYImYVuhC1MgIs2EvwuLp3katOBgDg1n0Gs+0huKSpmnM
snubPMXTGko8zD4zwp/D+0THyZAKqdYWsGkfgLZQLbwO3JPr/rDk43VIq5Fbhr7kMXEP1JoDUnzB
RToKX4+NjPxiZIT5HIR1UYAVLAYcJTUirBfpqAVPnlz38ZI/cEx/M8NfEY53cFrOTPfUgJ5qIGoI
7l4Rnx4rBVjzc2tpwFk0Su5cNXhPR/uCiDRUL4Ez0N2jWL337sEZm5ShR8ZlgvK9zAu+tgpxlAob
JdX1WvDxsojOC38L+qKryfZRaqPjCwz/kBQUu6Y5be5ae/LNAYkqd+bRXXef+bf7VixftO2V7//l
Tyf7j68+vkiTKSN1lTPnbV7QDRs99TcFiwIdrwZC7+iGm7Y/eOau+87Mf/qjk09/OP3BgdtOWgyk
6ubZNx9EOhNQID2o53JORTUdIwOr2sf7HC7isMrkpOeC4i7Vr5+/8lyPjpdKCVHyixej0ShOaz3l
ym1aYb9EDkkVwlCjd7OidqqQD0L5YEqfRqwO5HfcKxVB1Ree3lmumbUdMw3+xfXNKpvHY1emWF1t
GnJJ5+mtqO8hsrnT7S0N+U/ZWvMO51rqxP3uMnyEMs2iWoDSS0Mk1OUF5YKwaqQord+6SuylmSma
Kk8wkFJTvfc5U1FlVYPfUEE+/S+nvbbO6u1q8Fww/fKl5o2za/L0CSgDSn8T0p+KGsGox1VPk1rV
Km8NCfirjj/zsjG/qrI1mGM0u7SJ5NIvn23dNLM8Vy0lpaFd9uqKnFHBr9GVfpGwPc+nQmfGdj2f
tgpuPX306Gly6cyqMyNnxHHHcVwi2yvEgZBwHlYeefBBHDZ0hovwiz4oTH0RmPVKs8WF5NQQpE8v
dwHyL9NrUAJUmxxWqIVMCH0xe3N9Tnb95llz77ScJTkZSqMqTS4FAAISebJSn2azQAf8a25oYf3w
7ukdezc1LetuM3lT9TkWmzU3JVEizdPZM7LTUxrzozyRgMAT3dfwv4/+J4Hzi8/jD3hD76A+XII0
ka8EIVbBsT7k6Dz+BpwB120Yr9LRLgOo7yhVhIGbrdViyPVpjEn8eWlGYWd5ffIFpzovUwfvhcBe
Pt1rFfEvYWvDoeHQEEikAba999QLF28Dcv48IAUPhW6B/tAJvHo1uhZPCP67ANj4J0KPnT9MLo29
xu6jp+IL8b6O0spb00DO44dMi97Lp/aVBtEICn+jJrxKVnGiBT8u9oUqSJqs5J/wfvrGnNBb8P4J
CL2N6NatMYN0XFazmR1QLVIHXaQafCorL88mWVD186cInyofHf0uIQkSnFhBMge7Ha+NpcGPiW5u
U+4HzDeh3yDLcM0VFEo6rjaaEpqQxQXpSq/SZm4YeWikwSx8nD4GJfffOdLUNHKn8AGPhNbD/QwO
paUEaUmgezRdjVyVRuYIotORa3WluDQvQ+VjB+fl5ykKcViYu3dEErIH4Fni5EQ6DpHVkdhIKqfu
yEUEcrToFzA+IquPN2fmtEepMfNzth87puhflhil587Wl5fDn0PrRXq6RR9BJS5Hy80Ca8RVyB3M
CdvlpPuDDYTA+bPNq7udlRXPpzqcfidUkBSXTfkrckkfXNpWv0w/AOUOTzERfcIZMf6JyTzwv2Aq
ei21FJlGr6P/mXMt0Dfn6W3KJENrVoHBu7C6vUUzzawxa3hLa6Zt36pZ6X+1lpj0hvRUZVl+eUfe
7Nl++x9zS4z5Oj7TW+ifteYButYoFfgl85tivIcWfNP59fAvm0jFT34i6EMQ1zKIYwxUd1VCcMk0
X0+dfmkA1pyX5/iW3rnUlyM/L03OsydKUS/UlqrO8oKC8s4qC3waspeobHmqEgaPLky7YAsoQZ86
G/S+GkBVhR3v/ug/PdI0nkhSZWUfIJA3LdsNhu0WKBXn8V04L4fNc4GD6TkC0InzxyGRV84GZWlA
lEXnTv2qGDQEkmSB036pgickSVr8BnjztiQ/Dczo35UfS9xhBk/o3dwRVfoGvBLsivQJNmC2usGq
AKua9+kpArrzkb6PCg3EUPzhiz/62CxTEKI1/fGHm7q7N8E+WDNPWSfvnRd6mNJM96WaqI9ECJi7
8nDw/Mu/aSYtF56DOjjzySehmZy4FkzOSmrrGEzLcKcx82jSpZVAsseuvJPi2prYD5d/J9VL1vEb
4XdZ7bIzY9dSXUmJbH5u+B6wCGtp05qpQ1aBJRQCsk6+nV+xY+xBzFNuD++HbUIeIcU8ArbtDN0p
JBLAJeH8FGG+1Bzwseg/JRRatw7Ipu1k7Q7mbzC0/yOOoXGOAyUu5zctf27zc8vvhHY3bAvtc4Ne
WOPwbvgy/DzFozVrzfBlKKXDi3+vJt2QRsbo3wH3U0gbWnqEdJ9itpqN8YyEmDBPw93XhpqFFoDx
NM1adaCyBgXjFe0h6AClOVEmSczKTpbKEiF1NJEU93sazakKS5Ons5gkHPKY+tVFgUyvNSMPto19
0UuWls3vKXb29AYWkDmIL4D4TCgLOZdN8bHYSSNHxZbT0JvaM3XtmBSA2eMv+tkoT+xdvhZzmlRr
qXd2OInk6NqhwXVH+azQ31pJb3BerzsTtb2okzQJdoP8QB3yo6brYYkGQnoty3B9UCezJQ3tuntd
amZRcb71hz+WPL1+wzHyDPEV5dVE5YH0JQj0CcGdRj9ZDkgw6LPSi3xdEuKcXtJsUaSZW7zddsKP
Hq30Dw6tPdpEOgO93cXu3nnBXtIKimsfR+VNkD4ZRqac2sccjN6Xhh92RidGPWYNeqKP5oHOoNf1
v6a8rX/Ljr0bR2qtutDvXUoDtJnyi57tX/rAF0/3uIfa52hFvvFtMZ9PoxDmU3wi2zRQzAIaI5hG
y8t7u9weg1KT1NwMI0erV29Iez7dWpRxlNGVSHikK4krEtbFRVjeo6Jez+Fj4Wc1WCmhseqgK+YT
1AoXmDZvf0/zS116hpKk1Vs9LTaVKq/ZNc1HJI+uN1jz1OtGYPPYp7duezU9o8jdnOUIdPcVFc6d
Wz6bTBPoD6BwklDuGYx+PwtRCHPyvEam1dM8VEuSRnmVMk2VQEZHQUIU7a4DkGzK1KVmGXUh1Ig/
KMoSiav+VbYHIdAklAdPTyBw3/c5IlG5RnZldHSxu3Gay9PYQJS+aR73tPpFjTjHHtZAMpuTSjN+
lc9uieRgOMW9qHHagsa/kmtsRoPbE6W7DOlOQbp5MbwI+uRq6B1AKsnAb+64DxJD/0DqpJ9dCn0U
mcNdEfwBpQxh81ni33ktroEFNUPOWKaeFRlHsH5qlFQe0Yt/8kTVWLzUTtIaPAdGc7MSJaPZOfhG
lD3EGRzyVP8s9CRk11oVzjDkleYpi/5JlDGyFmxExMMwCKpiVV2RMtGOpuqNCoR2MxVp6Dgk59uK
3CEBhqDHFAbNAqOnaHm4tR/5YufOL3aCc3CQmI58duTIZ4lhjtm9hmTg+ISI3bO0Wi1aPQ300eh1
FD3keLTGYpmU2DrdqEfUs8x0E+noo1scDUOoRm2kJ9g7t693bvAm0ql8l1wT6dEwu5rgV9QO6lD9
ovEGBa2FjKJi9zzp6KiUuGd60HJBZWtxd9oeHRlatQWK28Yk7yo7yU3Bvj6nc25vsCcqM7gD4aeK
+QNTTSo8uMOu6hw9m0zSO4jponrHfxLlMuKvi/ii0zjHPH5WIRxrIhVyal/Uy4pZW3arz63Q+xpa
t8zvnj4tXWFRJKdXVk/b3tvvfDCYlmpI17fWzFlcdJ8qJT0txaTTN1V2L6U4CvFtBXkmEmOj3bMD
M7CPlpWN1tejmT/22FEc58H1kuLiqajXUTFzZuEE85Ce0TRDRtro9nUbthFl6L99+Q4/ZIZ+NTy8
ZUiMd4kc5yYLsUNkQ4a1bz94zs4nEqJwvk6UH2pnp418GImP1UQp2DINjXEOCxdwUvSCbPu5g1S+
tuf1LNzJJWmS/JOmFAnGIFLHKFSFUO9eW6XVdmlfe62rkH5E9uoyhJvOss00EOMDAZ6clH3s5LMS
0y4e++7vbRgn81m/PbJD1qY2gRK4YVmmvO0apQ31hNKWQvdinJ0DwnTIeqv/6Fm7npAUacHoXzHn
ufrC5tSbdC+I8doHAv8YIwgRAoYH8LNQ/487MCX6wRmndg5s5o+GDhJKJ+CeTvODXIrDQiN5v90R
QPfprwQttTF63E1DWI0PCtda3boEc2HH5pVFuRaPx9KxyeAqsdzi9icPpCx7YP/yMu/SiupkIm+r
XLwCYTeGC7kX+XR2povK3TgywqdfMwg6ShBvkYBXbw14EV9pMOACih4Vw4v46DaIH2lk/doOiiy3
aOXmjkJzgs69aWDF4so2OUmurljqLVu+/4FlKQPJfvctlhKXQTiTPQwXYQWnwV/0MpY0o/7SY2B0
qahM8GS5Q59ts9ybojdry001Tuud6ZosWNHWpMlssHjag00N9OhP8LGkUqhlxJ4dyZGb74qnI4ff
eAN6IgcivrG/If5DnBZeIr+nGYBNa0WuKG8+rbfUV4qbHD0LQdmmAexe2NjW1riQT+EV2nx3viU1
Me/W5dvz9h27N2duA4D0JJQXWiteABr/03M4F8b/bpSXg52jOlBODpEmvVw8ZNGjPenkOhZ469lO
bbUsLy+1ajRNNpJxx0DNSNGQ1W7INcGLz0j8Zp9Jk2NYpu+vd641eKTzHQqLs6R8lfym/IHh8pLB
cmtGepdq1Ywm0KfkBWs7ilAmHq6CFBOfcAJSC3bqsYLUMdLqADvrZTmUQ15Kj0IwIfE4bTbnLGdt
Q1s1fuTl4Vt9XXuV89aVLS0rW+5yNtQ0VxfNdtrtztlFtdPag3jf4XDe3ra0rW0p8o1+n7RFYvoA
9RmUb9FICQ21aaGHuZHD5++/P2fDzK2/KZapCZHLpd4LGzpHsh944MNOZXsn6E7oulOcVuWJ0F86
25WdyEtj+CT3InlYOG9TC4cYVEtHRsjDV69eFc/Oe0kKyj2Ra8MxMkRb6kD3rLUGxXMtdDDCj04m
F6pDMheP+bBMPPAVUrSgSyqs1Cee1ORN7uREm+XiveDKy7EZM/SyIZPLA8Rmy/CsvadmwJUpe5D4
C3PdxcGV5p6ZoJYqpNJbhuZthLtzvUUeV5EqS3khXWkuMhvUZkUy71NkdOXa55tTmizz1xDILa7I
UygKSiwWQ77Jqy3vGygFfYJBk5s+e8lCylM4THphJ7mK8RNGYOnjeq0bv9zYWOIxW7w/ED5Ib4kl
1+O2Wtzip3AeZghf5u0oGwN6drrnCKGhqJHW8aNAPhqGsRyY5Ip/D/hJ4oB8ZcvNmzYubl2aMpA6
p7y8PGgrX7nk0XluV/+RJfMPLfL91hn6+tixPbufhkDTTbsWL9kxq6lhRnVVry30u6bhfW0te0ea
64bumXHiD+RHT+7Z+9TJvbvZuiXD89DCzhdstGo0nijQjFQflEdjZBq5BN2Yt57jZWqDXCKRa3Qy
dO5A9DU5Tm2i0ldQaiI83E4WZCYZc1TZhhRdlnKfH0iVJeg32aZVlIE+IzRK/QU3Hz4lVk5KvS81
C3kO0Hf9fzzzTN+uXYPsff7HHzc88UQDe2e+ahs785WirwiYA2YVrAydgde3nR4J4f4kico4nctE
KXtRyuKZo0A9r8uVKQVZSjGd8wkaqLc6gqjMNHKB71Ehvv8jKtLM6rl7fy1KM3Tn4k+bW8rKlqzt
z755S30BCdetvWfG8Y9Qpq1lg8tnuBc+Ffr6qZN7dj9/Ek6QqsbyUsm/nPzxCo9Zx/x3eIwMw23k
/1PfzgfMWh4DjuHVq4V4ywsXYAGzGdzBgUZbATtGpjLmD3ReWNC3vQ/mbu9bbcwzGvPIqpq+vpqa
vrmz6G9Geg4evgoXiUT0uzFVNRViEitrr8PBzZtHduwYCQ2OjND9BPzQz3SRA3OQnmcKgU8gWoPy
QVfo2dszjbkKZe7tA+1NPTvIJvB/z2KpNyoygiplU1933cqlhOWwxdCLsPKYVxCkK7cKh7qoRlqr
WGmKFJoUd5Ds9PTGBKXJZNJJd0l7G2v7KhuWNDUPwMsJVpPKL52vzbDlSmo6OsrrMnM7atpmsD1w
Gea6pUKuq8Y4fFnpY0sw1T0lxHC49yfhPq4TzlQQC+aZdIXR4xBKCTSPHnC1KzDYHCXy9DR9KkZD
x1+td5HZIXItpDFmpznsCCc5fD8pQP+JkpSyY03BQFnuv6Nh34yBoTXQbFtPPh9TEenArMVzRsZU
Qh3vACTBMNPkOJWSA7G1x83hepCFP6Q5v96H+2xp4P7NqQvzjJbt5l6teL46DfzcGPma6rmaxX5j
u4Mv45rNWyXoTBLaazvTmahPYiKmuwimV4B+9u+PdnY/OucJrVKpTVNJJCp4fn5L64KFba3E7/Xn
Zmdn5062QRur5UrZOzSg8fU9E7q/d9eu3h/Oj9pgA811JdyM8J/4ObwK1yKRU9KdW+8APTBKIehH
f4FGxXSQlv/enEm0naE8ysERdA1kxpXCPWe+81ShkdbWQwPI1NjZGVAOZP/igYGFmFNdYf6yFXH0
iTgsEzBMobE/ZXhciAdXdbLuxiBLuF6LKU9WxLeM4aOevkLAyF/Hje3b6Pg/KClzY5m99m9Tqj0j
beyPE0UwNrUp4LqZMaeXkiqxVqV10L0DHRiSFulECEyotm2dUKqaGylV5UwsVc0sG9dTXqgB8e+y
GpA2ThVIbXX44lSC5g8tPTKhGgRbT3HfBh6PRh0Hng/tfDK8U+PwzjJ4hnj0ya1Bn94aB6TOu7Xr
dNvGiVB/O/fhh2PoPMfg2uLB9QlrTEuDtDJIN8k4SFYtqyu1dCuyV0iqK7MqLIrsCeiIThWcZc+v
6tcrqO4JON9mOLO4gnjSiVlOX8x1HMzdVg8NQzw/ET8n8nmLxyoEJ5HPcfz/w/Cb4nNNDwLYUZaO
BWpU4+LgVrrr6oqd9TWZdpPRnjmR5WDtQG1tf/1jJo3aaFRrOLHO+Dg7z8WM0oa4wEGLLmqGHL0u
DdDxBZIuEy8jBBL43tTdygvPwp/fUj5zr2b/2G+0zcrkVkPIvWhRpJIm5CL1Yk0w7xuqgrzgfqcu
Dj7LHPMUJcJrv4s4bCLU+FC32R4cW+Xj0UjESt8QPZsVaOTzT3HfPA/QGMR5oSt0p4tOPDU+7yzO
S5+ET1B6cepLgqJHJt8lqDjqeCXOfxn1LRl3TPNECFzcCDdKy8RIVwRcOEmnBB9F637IGy9WQ3wO
ekKdcP68jgmi9JTIh3HCGOSbjnmV8Vx6SpBT+BqOa0V+qW8Wxgl80qE3R5g8RNnjw7hDwc3IGz0f
FM4cxdO+yTzRyc9N4qdsMieE7tOkA3VUhTElR0+drqsFu0hD1eR6cKLWBbYzYLquKpxd3eiI1uJm
o59Rc454lcF4bmZitfDJGA+TXY4eJl75kD837mh4oY6I8laI3U2TK4l0iSZXEw24XHEriv8j+PUb
wsQlnQzzPlzeKWCeGod5lsE0xoEpqvlksB2CKsSFDK1M+yOwzzHYjjiw4wl+MqLUyaKPj3LvuOwl
It63Gd5s6uOvwxxfTSfjPjxBZeMi/uR6ewS0RwdmGr9lvXcY4dFMCyMbx/f3d+7bP2ffvjn793UC
t3/O/sgPlZU2/AnZxHoe0+l5pA3VvRqsmLmrMfbyBV0gHGMIZ7yOYKS6CtNMNqWM7Jdmps8he6VZ
/699mg/Jb1/VFmhrLqVXK2b8wN1WZix+U22Exz/S/lJrfMG3eHBvKzIxbYZ35cqD9Kqd2Qmrl6J+
Gaj9xa2Y0kgkTtWUZ34mfuWUqE59O9g0KokDeyPzT1PCPhWFfRZh50wFW3Ri14P3RHzaFBiGRV0W
cLyNOPI4z1RYpogc4qA9NilymBK/+rogQtjLa1CWiUIlWqzOJtOdbLxC+ww1fLFKC38+dSqmJyFR
6DXCnI01Jai0OtYNRb00FDx2sLAkP49cWsp6EqDnh8RZaPOLdcEvSQufTy2KeWcMfqO9jVoh+w/Q
A8CA0FyFgYCqq7RUYcxdXTFwIOAtrDXdM+zz2fUapUZOYORo1U02d2BTf7A/gfBVsws3Hj2VuGBp
ytGkYk12qjFdNfYfKHehtjrGaquOb1NdDVIVvUGF1YP6+s1V1qZT/wfcbrYCN8C9CNflRrhPCbGD
gP8Sw1/4rfCLan4DEjIFnf9mKk6wPV6k4TKjIfit5B/Hqd+IoKrJEfw3k/ZxTERPY2qBxquMRjeN
uL6FpKYy1RtQeu8ku/1mQlsmHU+6Y+jlNYze4m8nVT5OUnAjWi0TMoRvphQkk1MGYe35XFZnd1Iq
Qai0S80sLQ+yU9XxNkk9JT9AL5gopZEOS42OcEIdHsyh30sLlAae1uPnNc4a6Nw82OXxJyxoq+xt
W1nW3DuydexvuswsPb5Yhf6O5Gatsn9paenSOZ19yXXZh/V+//EtexGUIcNpiNRQ68VeBWP8bgW5
mHpMbFp4hOUbE1sX3hGyDF7sLxhj/QXZ39hhQPfDKbsMFDScm9xpAGdORW372+Gg++KUOFZSLx8H
x6lxHJcYDvM34xAcx5Ro8sRwbzImohYSHYmI6yrDZaM75DdgI3GjrymRD08Mw67j9l+vLwIQmuVw
V9gZplzsXcClujI6aqahirKJxSS0NpA9YQyKGsf8kIYcSuqGSfhvOKaa9VQmiWMEUeGwBWLooDwh
xAjh/8KxvSgD2odtmtQxMcnP4PR3JocAyuvdhdAjkMh7cc830y53sZdGjdFgNsjTqBurAb2dhoSY
0Qd1f6/JKC8tm+5tX7RUKrntLzvJrVuyitpdzfI6fnfu/p7Cu+8uJJrCqvzBN2/bcuixLbceTva6
CmvyEyokdUZOlAlJQn/PIvZ4nQ22OP59QrcDtFyXLV3X/xDrwXmxD2KM9UEoJnZCUAMb74aQ0cWL
dkTA2zH75BTzqfGMz7+VLmzs/FMx8y+x+emT5gurPQ7CKy56FApxRXN9Ac5lBidnEh9xpDYO1H6d
xMbBr4nd7CQijqsMBztRiMUS37DG8eyamIOPS+Lf49bRjFwqe4aIFzpUggGzFsRqpBFeD737Pfx3
bmQEnCPhEcEXj5IUMhPH02IM5VrOdi0xYWHFWGgfHPx5ZfnOrfXeYHtp2c6tDSVB2I8k3D295bMj
Ge01zS3bthwxzqDwhH6LMeEU8/qOC9qHF9N1AU5m2hNbL2C7eP5zA1i0zhED6wnmAa4DNQHWJeE0
NA4sQWdiwH0e8RSTIH4gxFgCvKuRE8k4EKfwIjEobrvOm0zCtTNeLELEXo4xLoV2b07o5rDRYHZC
R0foFyiWmLYOIVCN9CW9z+mpPnJijpoDQlVI6E4COW2HA+q7SIbYjsQT2j/EOpQ+8Uj16mLwCx1J
9qp3+XM/VbAmpctbNAXOoRGmjwKtV5FWmoVNonaqgG4iBw9OElMMN/GCNbHPjChj+sxo9xaEvxb7
21NpP0tAHgjiYgW1ci3rc29sPN/VdfirwEMlMBTmGh+pPc1qk1fo01rsGVQKKzrnymhVFf5Ajvuh
YhgM/dNz0B/pAb/MS9gzLPRs1T9eKVaLJ4jm2CARjfO+Fq82JUVb0nr+0KHvhw75gm1Dlaas6qHW
lGUwH3ae7fM1N7lnwQP0KDG145bdjQ27NremnonEelYW6+VxJbGxniZusMekK/FGEz0N4ceDPJ2B
BXk7erubqtq37L59uLOptmfdlrELNRkZuUpDkkSM7oxOGt653Yd3bDns8RzfsrWnsKg7y2VTFnLi
2fJlOIN5fT7tLvm23eVqnxz9gv5GTeYvbmw73bXVe8Nec/7XDz88V9iH4TSut5l2ut+wE00kYuqG
tEMC+qn70sgYxcuLuf7brP5onpDtT6Xw0ROA9ybpevQ04C9xzhRYDzfKWkmvruvi5gV+4jRzvyQw
EtvTzasp6QJM+IA9u5I+setLBDex+esBEZLQA0Y6KRDgqsKrSQ5fzSzAyjMtDDKNVKOTDdbwPm8O
yC2sFKsAH7xTVZW6aobDk2FIzlFLS2qMtcpETX6TN6c4RSvJkCvVMj6tGjaGnpixQPEE0eZA/uM3
e+sqM5PIUYlCld7FbN5A5sNSsVdc8OU/Fx34C+JeP3GMwM0XAv3kEuOejkkkM2CE/J12z6p9THtF
O7Inzkr25Rd4U2ZKlk3v8xSTv1uNRuv0+eXCOcsg6QUV+rnkid1dr+I65lrRtffGxIdzSAUUYS6Z
yDpR42SJr0zIAnnNdXkecAvDtZCCVxhhVIL4SJxYvHm0yZ6hUWkTtBnuVotNrZXPSnIVB9GXhUg/
3MbiRPQVcTJ+43UhzeWYQIbQp1Hg0UjsrRKfjcftZZ7YbCDstfTZic/hS/EZZPoU6JehFPjy8yfZ
vTu4z/nl4/f45WOZ5L/Fe3bYD+3Cs1Am8PH23U8MCM/qT7wH9Jnn9j3HBsgl8TF+9kzLYmjnzkef
iab3z7NnogmdS2oj3wdAIfvUAvRiHBT5NgDEwk0eSzFZ8UVqxcECRgEr9XWLSS3DKRewThjLsDMK
BPr62TleMt0DY/pV7/jR6dP4c4JUHjp37hA3Yaw6OjY6PjqHzcJ5UHhoz6FXXsE3Ya6WewXuJ0GK
BzTjD7zC/etnzVy7duas9XDrrPX0ep0QL/pxD/kxey5cT7vwYp8NN09xfSJSIM+efBF9inzyJ8Ul
p99DIFkifg+Bgn0PATuj4yZ9/0DsdxPE3iPyiV9H8Fzk12uPRr+xYFnsNxOEDoi/kaPihShfbj4U
sL4OobNK7KmaH+mjirmv1tNn+Hey+8QqDGBxQX34T3CK9UNwcqR5A21pYK0KmH9+Dgv4ZtYnQ70p
7ZShzcC0Rx53AdotQxeVb55P1tesJ/O/00/6Q/dsWT6MyjVIW4DZ66ErV/roZR/r6zqHMX05xUXj
eYzjMYKn+z8q4V18PpOkPc7zD1qN8ATExKcAYh6I0CY2N8P88acCog9HZOdL+YyjoQMxjwnQ/RTf
trLnBMTKIcR94oJsHR0NPRVFok5ubuazrn0cBZ5XmHGU4/4XSD7MRQB42q2SzWrbQBSFj2QnbWnJ
spDdpYuSgGMsO7HjUEodE0OgZOHkBRRrrIjIGjOSTLzKm3TZZR+o0LfoA/TMeHAaaBeFWujON/fn
3DsjA9jDNwTY/L4EHz0HeBu+9hyiGbY8N/A+fPTcxH743fMOXjSannex3/jEzKD5ikIfXJXlAK3g
h+cQL8N3nhv4HEaem+iGXz3vYC/86XkX3cYbjKGxxBoGGVLcoYLgADMcco0wxCkGaHke0j5x9zfu
kUZIqHULRb6mYkkthQVXwSUKamp2WTobu1iCNmO2MucjmG5nKN1OcVXMXvncCWrGalcvzLVZlgzj
qdtXLt9mC9nmJW6GmHxPn8ac1uoUjGScKaOvoO+GZGdLXdXcxaz2Fetr7lf02Ck3p2tz5jYw1su1
ydK7Sg5mhxINTwct2mHkbNfZnowSfavkel1WalHKZTHTZqlNXKmkLTLKc5lahVKmqlRmRe+krmoT
S1ZKLEalGQuNSqQycaIWsbkXPZdJXSTZLNOF3GRLnZp4ns1iuVL1fJXlOdu1R5zv+YWN3VHthRTu
Yu0lXeDBXxR827EuElWUbHjxwJbAOctyJuNc58m/acq2+Ix/lAh99x7zHZBO/tZTbKezKOpH/eP+
IDp53vToD02fWm6n3UgfbaWd8uYIHT4Rv59de9x2onan0/vPXX4B5IDH/gB42m3RRUwWAABA4U/E
wA7sTkTs7u7uQMXu7u7O6dzwok7RuYETMXGK3a2zu7vzqv88+7Z3focnyD/+rFfB/3gTMJkgyQVL
IaVUUguRRlrppJdBRplklkVWobLJLoeccsktj7zyya+AggoprIiiiikuTAnhSopQSmlllFVO+UC7
okoqq6KqaqqroaZaaqujrnrqa6ChRhproqlmmmuhpVZaa6OtdtrroKNOOuuiq266i9RDT71E6a2P
vrZYYKHDor21yCrLbRBrq2Xum2+t735YaZ0lTnrsm43i/PLTbzF2OO+seP30t9oAFw10zgVXXXLZ
Fe8McsM11+002Fdr3HbTLUN88MlSwww13EgjjLLJaGONMc54E00wyWTvTTHNVNPNNMMBm802yxxz
ffTZQXc890KCXV565ZDXgSfb3PXMAw898tQ9T+y2x36JTtlrn9PmOWGx7c444qgkK3xxzPG/+lxv
TgAAAAH//wACeNpjYGRgYOADYgkGEGBiYGRgZngGJFnAPAYADkYBGwAAAQAAAAoAHAAeAAFsYXRu
AAgABAAAAAD//wAAAAAAAHjaTZG9TgJBFIXPqCHEGIEHkIpCExMLYxBCSYwxVCoECI2FlcaCWFpY
2dgYCysKC0K91bzD9kI2mW4fYCr68duRwuLk/sz57p2dlZG0q7qOZR7vnp9U1g4dhaDixDzcT4ue
/irOtmIsy5jv6KzoUFcaaqpXferHlMy5mZoX84Y+zBfOZkjVCk5t1CEfhVxjNEEr6m1VQqIaalCV
8Fv8Fr/Fb/E5fPPom+Gb4XPsbgaPz+Pz+JyqnFtVmVEjHqA6KmZ2iRfoEvVwXxP7aICGaBy3pNpj
wpwJnglzJjgmuLitGzLoDDKDzKAyCB8JuyGKnWuI9YbIIXKIHMJD+EjsQywgLMTi347ilglEsrlh
oht6t8RhfDPHy1ciZWNWfGUaM0fm+CfL8E49oLsiM/yZho50olOdqamW2uqor5HGmmip1S8lbMHH
AAB42mNgYGBkAIJjqdtPgeiDSXtWw2gAUl4HwgAA) format('woff'), url('../fonts/Futura-CondensedExtraBold.ttf')  format('truetype'), url('../fonts/Futura-CondensedExtraBold.svg#Futura-CondensedExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src:  url('../fonts/Futura.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADDEAA8AAAAAU7QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAwqAAAABoA
AAAcSSsxH0dERUYAAC8MAAAAHwAAACABFAAGR1BPUwAAL0wAAAFZAAACJOfV70RHU1VCAAAvLAAA
ACAAAAAgbJF0j09TLzIAAAHMAAAATgAAAGAT4yfeY21hcAAABEwAAAGmAAAB8sPXXIpnYXNwAAAv
BAAAAAgAAAAI//8AA2dseWYAAAfEAAAkCQAAQtC9Dj78aGVhZAAAAVgAAAA0AAAANhEsZn9oaGVh
AAABjAAAACAAAAAkB5wDsGhtdHgAAAIcAAACLwAAA5zcFiJBbG9jYQAABfQAAAHQAAAB0DtvTHJt
YXhwAAABrAAAAB4AAAAgATAAS25hbWUAACvQAAABzQAAAzO9ZiaRcG9zdAAALaAAAAFkAAAB8DZM
NwJ42mNgZGBgYGRoLjhimRTPb/OVgZv5BVCE4br2RAUY/T/23xeWSObHQC4HAxNIFABmJgzreNpj
YGRgYH787wsDA0v5/9j/sSyRDEARFPAcAKdEB1J42mNgZGBgeM7gwcDOAAJMQMzIABJzAPMZACI/
AXwAAHjaY2BiXML4hYGVgYGpi6mLgYFhGoQGihkxPGRAAg0MDPoODAweyGIMDgwKv5mYU/59YXBk
fszIo8DAKOgIFGa8wvQJSCkwMAEA0xoO7wAAeNptk71rk1EUxp9zblBLqlJi1ZZgEy2+sdYPpGmx
vm0+SG2wUURLlYA4qCjiruCS+Be4ODg4iZuDgyAdxEXBKZOIOuiiEAW1tgGtSK7PveSFUA38OLnn
nvv1POeVNPxPjhP+lwIuyxNUtYgBckifo08fIyv9qMowDnseIce5NOvHpcJxGmc0QIq5QXKT7CNZ
sp7sIBlyoJMbc/Vkv9sjQl5gzKQwrM/sL92GvN7huruMPSjLO8yaXvTrfeTRxIxctV/1LPN1lM1p
bDR9yJkQCfnOMaMOoawDSMlLqN7DEa3Z1ZixLZ0GdMr+1gx6ZAJTvPMQY+jPb/HtV1DRUb5hFBOy
6OOgNEkCge6lHnFMo42CQxoo4T2Kark/85rEFrfOrzmPktSwC0vcA5iUp3ZFG3ZJPttl+WhXeE+V
Eziok1j20Z1P3RkvkjjZqUX7x8077eQ1ZqjNOtb28iynZ9qPWzgqt+mRW1/FZpLwb+CZzO3xOh/D
AvMFKfHtcep0AZkIaj7i9f4P5hPrnQfUvxs07Td6MML4ijToESL91+LvGbIHnAfd0APnlZaQ7Oj9
Dyagjosd/btA265S/yzjB/LW6x7pvxbXW0ls8Hp04TzwHjNyr1NStz9hIbHrvHed61zv1NjPUa/Q
L+61iT7MyRtU5AtmqfMNUpV5zEsbec7tdj1kmrjFbyUkSTLObykk24nzKdfhEuuuxRawVU56Knhg
z5mHznfeGQjkB4K/ume7nAB42mNgYGBmgGAZBkYGEHgD5DGC+SwMF4C0AYMCkCXAUMewhuE/oyGj
E2MwYyJjBWMd4ySm40x3FUQUpBTkFJQU1BQMFKwUXBSVlIR+M/3/D9SpwLCQYR1QhyNjEGMCUEct
UMcxphsKwgoSCjIKCmAdllAdjP///3/8/+D/A//7/zf8L/yf+t//v/d/i3+sf78+OPBg74M9D3Y/
2PFg/YPlD+bdP3jvEusTqGtJAoxsDHBtjExAggldATAoWFjZ2Dk4ubh5ePn4BQSFhEVExcQlJKWk
ZWTl5BUUlZRVVNXUNTS1tHV09fQNDI2MTUzNzC0sraxtbO3sHRydnF1c3dw9PL28fXz9/AMCg4JD
QsPCIyKjomNi4+ITEhlaWts7J06bs3DBoiWLly5fuWLV6rVr1q3fuHnTlm1bd+3cved2QXJKxt2y
+XlZj0syGdpmMBQyMKSVgl2XXcWwbEd9Ui7DKQaGnOp7DA3NUw8fuXzlxs2r17Yz7D/+iOHBw6fP
7pRfv3W/qauxu6O3r79n8hSGSbNmzzxw+mL+2XPnKy5dOAMACyKXEAAAAAAAAAAAAAAAAAAaAC4A
XgCmAOYBRgFUAWwBhAGkAbgBxgHSAeYB9gIsAjwCYAKUArAC3gMMAx4DXAOKA6wDyAPcA/AEAgRS
BKwExgT+BSAFRAVcBXIFngW2BcQF5AYABhAGLAZABmQGjAa+BuwHJAc2B1AHZAd+B5oHsAfEB9YH
5Af2CAoIGAgmCFIIgAiiCNAI/gkiCV4JhAmgCbwJ1AniCh4KRApkCpIKwArgCxoLMAtMC14LdguO
C6ILtgvqC/gMLgxgDHoMrgz6DTQNXA1uDdIN8g40Dl4Oeg6KDtIO4A8EDx4PQg90D4IPoA++D9IP
4A/wEBIQLBBYEI4Q3BEsEU4RcBGUEcwR/hIyEloShBKkEsIS5BMUEygTPBNUE3gTpBPWFAIULhRc
FJ4U2hT0FTAVUhV0FZgVyhXoFhAWShZ+FrIW6hc0F3oXwhgYGEIYeBiuGOYZLhlCGVgZcBmWGdga
HBpEGmwalhrUGw4bNhtwG5QbuBveHBQcMBxeHIwcmhy2HM4dBh1SHZQd2B4GHiQeQh5+HpAeoh66
Hs4e8B8KHy4fRB9SH2Afbh98H4ofoh+6H9Af5iAEIBggSCCgILIgwiDSIPohBiE+IWh42pU7C2BT
5dX3fLdNWkofaV59t2napM+0zbNN2/QJbWkppS2hDSWUUgrlJfKU90NFVHQwYb4Ym6Ayp07HlOF8
TpzK5tymonM65lB8zBdDpr+svf3P992bNEkjOGiSNve755zvfOd9zuUIt2jsPPcOucBFc7EcZzdr
1CpZtsFmdSgsihtLs7NLs2M9g3ptUnZ2knY5aRx9iuMI54Gfw1y8h+fkHKe08Hr68gwkun6AL3JB
OAHNwglcl4yL88mrXCqXSdfJLQ58qfXspXewl81CX1q89Pb0nM36Gfq+pakL1xracjflteYOrk4d
Xl+buimVvPr888933NXxGv7Dj4677uI4xG4e20cS+D4ukjNwRRwHChfYrLzNotZo5QajOgNwM3K1
3mYCoyMDtAqjCa/blbY4vADTTZV3m1dVzEiv8Qyv7jDPvi7OE1tfmzN12nBrng3mCv+e1F7aAe96
PDHDxQ7lp8al3Z23xMybBxtnK+sboqAoMaejoXWN8O7rMqexCclBKhRj58ljPEGuKDg1l84ZOS7R
rKEMtdqzZWqVxmxHzmrByE34dsPexcO3Dv/DO2WKd8pXxUKzCaYHfMOThbcODt6aX28qrq8vNm1N
GY1KBlfQd5QfNsT/AuJXcDlcHfJDHidH8BazCxy8wxVpsxr0FCGyAowyPT1mew3Qdws99zgi1zq0
ci1kRoNhki42KTrabdc1FmTcNjkic7I2JrrMqC9LiE0Ae+fg1v4bGupKugbamoe0JkPGj3uq+m6A
NTJIkafEpqhSY+2zsnMyoD6K18ZoFSmxxsJifWKuUjX69dC6rf11PSXZs9vbemc1ZzjKsjTPDLmW
HUX+AZUr7ikmV5xPoqg0sWsVYzXcp3w+yimn1MoS8IBJQuI909zuaVarlc93PDb62WOORRADMpgc
ut6hSUwgcqM9oYIutk5zkwuOIeGicEn4zyLHY0RF19fAU3A14lZQ3GrKB7kRRUdudBgd2hNTZupn
zdLPnDI7e1Z3Zi+5MK+00mx2mvvnl1WUmSvK8H4dyrqOcFwMux8lHG9Gyf7affo0/hCOvrtxnX1s
OneBW0/36NDyxnvbr3eszxT+o2U0QyqoYEjcv1pf8c47MNSK389GHf0DN0j3Mq6hG5h2+nST8Shr
bCeJ4gfp/fSI4blmYV4TP5g14sriqN6moHzkoXwoOT3HRWSbeJvVRcwZhJ49yY4jqgxidhGrCaB3
5ZzKPEW6c+lNS53pirzKBf1NuQpFbpP4kWDrXLKorGbHpvb2TTtqyhYt6SS3NAwt6BkYqq8fGuhZ
MIS0bEIaepCfkbgXvcOi0AvXWh/wkIPu0ThGazESpEJa1MgHnVoHdlE65XoXMGmUfwClQjJMa+it
rOiO8MZsWziwp9zthgOdtspZMyuGNu6Y756CcKjMT0Y42QjUZh4HwmBQXqGcGy0ZCJRiAOX+aRWW
+qi5sat/s6V/6Y2L+3ZFzJF3lbs6e2Fx+4aK5sqyufOv6ltjt+xetGmlx17vdjV1MN6hpSOFfCIX
xaF45YrnqwNeoefhtNvtEfbAqx7yxnOdK1aQe0d/AQ7hFMf2mYH0pSIf0vAPvdxh9pHk8JHE6FXq
SMLnJbYlu+9Z17Qta6pigaVtydKWvOlJiWvARA7ezR9ctu5HTdX1JXXL21qW5GTCtZSmPISdhntP
QAuLJ85rRUUWVduhZOCZhYFNjadIjmHOth8uWnBH589q+wc2D8zjiUk4TxJ/MHfRvh8M9K4QDva5
Gr391XVeRncJwm4Xzw90uFMjPC5sJJlCQQue4YhQ7LM3sYg/WrR1nN+aRVrtDmpX2CEwM5xtGL8K
c9b0eFZ6hJ2uigVbjm9ZUOG68cUbIXNo+kzvTOjvqsRjLq+srBlQlV89Z/36OVeXqwZqhjZvJlPb
7MVdXcV2dh5WSZYTKGe1RqXPoInCY/SxFlGexr2nFfdJe5/qmVvdOLAgoQTiSdyePnHved7a6vne
2rq5HIPN9A3O4r6UgRqXGKJ72UEaCPeMqyLCMKGeX0IYPPWrVNPH7z6IOr+R3cs0n2wN1GEdF0d0
cIGT4R/qWFDn2ohO2A7bBQ4uePfv9/5pqghfx23DdTskH4waRP+jARI4+oIdbrc7FJ7SFqmOtOWy
RbAdKKw/efeLvIS7kZclXAXeYtFIrHS4onxM1OqNBom1MrmMORW7zL8hKJ7DD9Y1eOurIjMmp0xS
RU2KsObpLTIviVjR0rbYnjm3JS8jK6+f7Rl6a+fPbait1pCYiBh57OSExJj8Uot+kkbXtGCotd2U
mq6xZBQUn/YzhXA5eNajSF8M50L67NK5Igk1YOFlGkvAYVvMDm0c+ERBSwmOA6NhXDrgG3m5zTnN
Ueyq1cU1maNBk9N859qtDz9x7Y6K1to1vUf++fd7bu5f6cruNBRNck1rWLjK0w5rqhq8labGGSdd
wlhy9TXNmw/8eucNx0qrsrPfe+Do2dnzr792ZnERIVWu5W3zfsDOZ+z/8O1ltBcyarVzdXJ9NOhj
CIkV7ncvhMWweOGWXbuefppPHPkClFAm/InqUy3u7mvUuSguET04p1RLO+MVFrRsJsJ+oeYaoxqm
VfpDSe3dXdNTmo/pq1z6O/qcfUhHbp37jhXk0CXrtBaL8KTw3+sNtpQY4Si5kFg4q7qwS0EmX9W4
ZNhnm5aLNhjU4wxU+5lFlnet2fLwg1tWzfYsO/zRv44uJX9aPu3xbVseb7/KdvbI0Q/xbJBmci2j
GaFYFJIBooS6CKO59uCvz3/xVKWubfPCioqhTW3kwm8fe+IFcnD0Nxn1a2Z0rKnLYHLajG9/Rzgx
FIokzvjZDAeEU2ASXgMHueB+3S287xbtKoZc8BiLW9E+scV6hQ4eE/4NMuGSF5aTg2+4hVtxAa5V
4z6/wX2msrUqWZZkKLRyE/hlyaGHV6DwZeHF984d7j3iqM/f3rj1kYev8dzFn4TNGT/+yyeHjnw8
fUpNecOvtm14cpeHwqV7XyDSrNRhwIwU4MtyCBZ5vcKdXi88D6WjcbBE+JFIxxSk/IgU3+DCI15y
YTSOXuJg7HPUwRL8XUl9vwIdcrbRQUO3CKvtL974/FlbHSW6Ao1ekyCPwJhIVz23t1TXkZygykuz
apJF/pFFEi1gQWEDOaXlfqjdJDwMvduEDwxI0IPQJDwszId5OcLvRJoo32+W/LTCgmy8/5zwNNI1
6Bavx46d55tQjhFuJK/HUD8alPgBPz9LeubfBTzwd83vIQmECHF84ugvSCcK9AUaT439k7zOa6h1
sihAQV81xO4d/T2vGX2EFI98SWaOvoryo0T4+cyH4M4TszTS8XBM8rPwbEag8ZMPheMfQsLXxx4U
Rh7kyUeHj549e/SwUPzL7duOHdu2ndlDuo8PkORJnFbk7kRJvN+77OiNt621Z+TXuLJz6l35UCW8
QC4sX75yGQwIFyalOgsLypOjRfvqoyue5i6Rep8BYQTKjVqaaTDyqMIY+bxVdfPX3ffhJ0irq/zX
6wtMlNJjmzobH05oaEBaP/rocMc+2xPrctdWMJJ/WfiASDNJZzEnlUzKVkY3xudMu32k66Hki1Vn
jN5VhbbWNJNt8G9sA3+kSRbUCL8lF/iEhNQBR+d6aBO+pLu4gcWC5+ES0p9D8wBRtzNBNBo0+vBZ
zRJgORHaxbOtBTNK24ftnvk3D83ZOXkezHJVzZhSbZ0++zrPTrK3uKmqpDFPrV/cM3T9+j5Vdefs
KkdNskbnbu5ZSuUEQ194Efcip3kY7sOmU4PS+yugmj6IIQONfStRD6m+xIoynmVDsWAepNILy7wH
hAMo2Q2ffw5PC/rt9923nenFt2N/JbtF+UwlKNf9/3xvkfCEcAJF9DViGvmQT2H2YOzi2NmIBCZH
XGqEBfMA8Lx++vTrQ8JLp08LL+HqD0jR6BskbeQ8yR99i0+gNNODrpZ0hrekojNR6mNA//mfl951
79K3zw0fe2IYboZFwuegFO4U1oJN+APDdQnva2Q2z3efQn/+62VPPLHsay80w8+FZ6BecNPEBSg9
JEvkC4tzMZY6DFtHP4GteHr/dLuRNcyeVWO+8l/MV+SiHqIcqO8ceOYZcnrkmW7+X91sDUoikYvx
vdIC+sxu2N/ND44cpNeq8P5L4v1a5D4aI9shvH85X989oukWbaYOrJijsFgAiaZ71b288mXv4SNg
hWeEemqo2Dpu7Fq4OPY4xROp1tngojC51WwWYbSRdEgjZxgNmCW1dW0pIseK7k+V8gv4D8Y8MTQm
yw3wyigRNr3fq2gtNohqmtk5tWFmB5R5SNWCRRs2LlhYTWoHmpvmL5gydRD2C0UtvbctGdzX145w
HSg3ibjvGIwzg+DKUYAs40GvUa+GLAnwfR5SPTSw8ZrFpV1p44Br+UEhu2/f4JLbSvNb2H4ozT9C
mr/TB8KPHDPq5sxpanE4mxbfdtvyJji5pmagvtnrWp156+Jle337Dkef1qYPCEYs1Ar6Nv4WSesq
XXzNxoGhauIZp68lv5RtG87QY5Vgv430qaiNyNWxrCEwxNGoc3XMi8Hbwt3Q7iqrSWvTrZ4yvGXd
iqUrhZ+CLKrRZm15p6av2FRY1bhnyco9N6+w22vq6d4xZgcDv5JaTLb3OD4dqOhR9bXYrLh3Q6Ei
MWWyHDZv9uTn367jB+colUn5WtWpbhqTdn9wgtGYLFyEi+zc80PPXcq/mIethiBu2EDuF4LB7Qu2
gmd6zfQKH1sWVQWJg+36vasGXFM9nb0ig7wdSD+NBv+IfE9i9sQiZo5IPUUfF5EOepeHqKYX9U3z
GGvTCpLiZeDB8y/LzVs2T/gEJk+pi8tKt2Wkv0X3UIc7eZp8Isbr1H+Mx+sPeZTWnBxrDrwhFMEb
GJKnJOfkJKeIfqJOuHjl+0azyHtB9wHXiG9vM5nBuxwWuVJvlCPrDz26/uV31x7NREJHn3v0eeGL
05nHcRVweGDcQUn3EctBD1V8/JvCqkRCfof8L2AxI2WDlr4xVpgIO1Y9ekAeuYLaq1ccIKqG3Nml
mvaiuz2Ritxyo3oy7yHRiuyk7GKlzANvVGbldxmKfy98DNGp+cVJWp05L+XD/0vKKk3TZFaYsz+E
Nxhexn/Em+THG8x+xR2h7Ic3aiZwnwIjnAp1PAph0dqZv2qW488Z73tt377X9kHVdV7vdV44u/e1
vXtfc/Y31M+fX9/AzsEhXCSJTAZDdJBXB1kIpM9vI1oDTIQnQNraJQshPEjeYzqI8v2fcLCZpwuW
6UDDNq7hAcBHs2CWpOTtkhwsRdiJ42dH3bV4UId4RUORISdfo9Ob1HLkXltBqbZTmW6z6HxnoEf7
MIT3G8b9fEakdtzRU8Wzjnv5hhZVnjIjMj4mOU4nMzvn1dvmJE7XWdMLdD2mopkVPbDXmJ+qjI6P
nRQrj+O1Veb63opSfVWuU1OSXFZUMUO0mfg+Sm4QZVc0FrTkdZ+nrMzTg6kqNQ2/+pXos5xI34tI
a7zo8+lh+ry+01OyscQz8PIAKtZoXVtbHfDCV4OrVw9SH/sV3vd7vE/0+zHQs+uGhZ99iivfhRwh
DT6ga86jzPwDvpB8fgzv3n3TjbuHvrjxpi9w3ZvQKDwFBbi2QnhJXE8D2m8QJtLtMFq0qHWY18r1
J3+25KoNyx86NXzXgeXCm7ff/qbwzDPMz3+F534B11Pfzfw86E+9OXzotoXC9UMdcJ3wFuSPZkmx
zxfSOsnH/xJKBR1UC9/C8e5uZAfjRemYCzLQR+fSXBzNodVeCWo8a0gHVRzIM1BPVRnAvjPg1dLW
ypT2vPg4kpMaG6VKV5K4+Lz2lEqIb9GtO+6Y3q1SaU5Yu9KiI1XGhrwTGpWqe7rj+DrEc2GsAJox
ZufFWAya3ZhnJvEfh9AAahkilBWCjZaIEaGLOEwEP03AvtPgVcjwEaFMV0XFpub4iOgJICKvwaiK
jE7rso4TIdUeDhMdeLksWp1CcTSaImi1y+jiUcozIqgns8OZhoZZea3ytDhVvCypIKVGoygqTnY0
yJJjE+PlSZlJkdBu3miJVE6aHJlXUJylKVOJf2TnRVHdXCQI3DswIvYvxm0vOlu9r3/hgRGpmPCj
0SfpPYNcKZwhz6HdyqRc0GjVeoNRYUenHw+sXUCLH7ZkoH0CDQxOKyUlLS1lZoeidM7aNX2WKfXk
ubaI1NXVRDgxybo2KQJm9cbt6vPeEteO0lYjG7SWizW0GJTPKRiT2miFygUOuxFVxZ97+svxRItO
VyPXZhBWqmfO3YjXPDMyp9gzDDsGnbf3D++M9HTVVA8mKLJk+zenpEyTFWbGKfWKya3aGfbSrhm5
roQ8ewUZrHWumDpv947h7LSa3nnlSdYsW4yzuyeFJEanJmtMtjpdFkdrpWaMSQ3o93X0ZOQaFa12
y7KNcqPDYKUFb7tZS+jpGLJlWg28X5VfUJBfZar5eY1p/Nd39w4BDN4xCIRkVxXV31FfVFVUWlo0
/quwZ3DqtP7+aVOpLo0g46di7Jnkyw8sNsoNMXymDSE0INDh/ewz+/H9h2gofWj/447PIEIYgQjn
JK8TEllU/YXTO8lJz/DC2FFoJgfE+lcunpoSXyjpbvc9ly7BxUuXWH10L0lBHxlPqwVKMWcrYaeK
PDfS8rfDdxp6XyUAkySepniSw6gGi5Qqmcibj6TqjLknUnWxmaq1t2TrCxL7i1a3dayKnE0aCgsq
i/Ouz8wp1Zbl2bbOXrCtl7S5yloVOUkwY7bCmZFlSJyrcGYmpmtj75yiUBtKdZ5mc3XrkKc9v9RZ
kGNSNiSoc0vSyjwZ5mb30jUL4l3u2jJ1dloc3esUVMp95DjKeKLkG0WPI3pJm3XYrNcnp+i/wQ9z
DjmOb/qUZL34QetKMsxlU1hfKp7L47iILEMCJrIJXJYsQZNlT5Drx8sgDktAaElswvFz52DaOUEQ
zj//PCQ8v7M6ut7cNr2zZUhdHT08dWDDusGmhQnnoPncOUxnPn9W+OzZZ0FVkV80r765r3dK987+
wW1i/XwyvAX1SMMk6j2U6JMkF+oISA2oAz1qstlMhTbrS5XEWNswo2N7ARB5pduJcld1Qfi40NZT
WzXbYWIwM7geeIWUoo+IYXKMghvJ3sFxoPz48XLhQfYBtc/mf3w+/yX2Ltql1ax2ir4l14bGWgF/
ENyEW33CLaCLiAjiVxrtLIZyLBL9hp7maGaUEvwNeeWKoCIykWPCpZUtV3fW/uaOxv4VjXJjok6h
iorPzJjAs0OvvPIK/GZtVeVDKwCILEY5WZUSw4t2dCpZBY/g+fNipXcqDAu3k+ONjAdmeBO8SGsU
Zggcx+TBYDfLUW9VUooP3p7NPdC7uabACRWFBU4n+fnmnh6Xq8fsLCisoN+I9WTavzIjDvTUFpq9
B3SxaMn4tNjJwozV/LD74YdpPh+PYUUbGaG5k9Ki1jkm9HD2PiWcfMvg1OWWkQZ5Z31Nnw4WO78q
ytWVFGRXt7Q7HQa2PyVQf8VoUNp8ojGhhyNt50ihxazLKmyInraxu76lr7FyNl87qSPX7iQyZ3Z9
Tlqao7LB0aDP6nBNa3DUFuUYTBPyVpSRU133FpEzRQdSWYyCfp7GKIqQGAXNsEIvRSmD5VZPcJxS
JPwV780fW0RS0K7FU0/CUif8j+Qa7BaSUt3t6nZfLZdvm0cudI+c4h0jp+CxVYPzDovnOpt7kfsD
OGn8EtpbAKe//g2ce6yVuzj2JaWdivfFYdts0w2pNzIYdWDi3grss93uzl5TS044hSomHxzq3RR/
fc2PZbzz7N09b95u7x/dVVXuap64a2vc7pra7Ip8o9NpzBdznBrUs899elYDqGBy6f0AVbDd7H3H
sy/ln/84n72jDuWhDlUi3kguDq2WxkddpCRTwNv0cqUWjFsZuXvKymq/Akstv6nQIjRbGPnHnPX1
cLtw5N57ya6U0ag0jvX8x+GKUwUKCjYyrPTxEnj47QQxfItiQem9CfFcDJZIkiwhG98D7fmZOLO/
7ydSD1cU1VwkgJ/k35qw7LtEF16h9Gz2bxjpCi/KlyTaCFeAMrsP4x7Ws3Hope6MTB4XpZYUHyNc
qZPjsPuYMy4Ad3yvlk0pE8Yff6+ODdSM97F4qf/xPut/xI53QHiUmuAmyKSuLUWBjRByL6smXQYG
oQocDOQkqnMQkD8z1Q6BER9MhzGEkpSf3FM5tDAITM2+fab+/nE4TzI4mQFwjA4XoY0m2niSiXGb
LGSDJbwiqSA5v9Ss0aeX5LWn2+1JiswgNCV5kUlpSSmppcbOlGQme0H4FNRn+nfvHymRAgFrMLoI
FgV8I4YEQVh+ht/nsKs55gAcbzMciaxm5+ewD4dWknGVJhjLLoPN1ma15SpTU5WJqalBeF7EK9Y2
2+4UQ2qqIYXaIGTgKLORiSIO0GnZfyW+YghRCQ+4F8ESmGYQ/jAHivOE1zaAwyAsWbfzpqef9rV9
EHiO8K7o98dapb5V8ndV7Xi0kxO6V9vRcIZ0sEb+zAyp2D/4O8pJDPN/AR0oDMjlAV0o4SFa8ZRo
4n8tyepl7udR0ALuv5s6Ht/t71MpDbxXMRG3MQj7fiajfgCdPvmUYDyJMFT0JAOhcD5BkQJGayDA
Y0Gxow/uk8GiwpGxL/D9GaRR7Dejj6P2/4h3NuMG7WL9jrKC0BoUdylwHd3CEe8A2zZd92+257E3
kF4VWxc9Ds+IEK+WdkjX9kvbQ/17Fden4P54tkN2hyFUEY54uwKFX4RxKnArTBZZv3IyreUopS5R
IS1QO9Ss7B7ct7yz9tCuXf7eJfwGymn3EpZ0nD3bIXzm72ASqd/1JO46fbzjpQxnHcQ2WF9YqxDY
HOPrg60CL/Wk3me+XBu+W0Zr8qEds6N4RhO7ZuQZn539PnBpdB0KF/rxUMMA/pdke4PgJn83vcYJ
FN/CZCAM6F6/vIuwn2Sw878Ddjjuh6L6cfhzmIi6ZYKNDqIhlXbawlExwVyHUvBgoMyGQfx8iC4G
z5o5tOKsGto7XdULL1SdPMne4WT1Sf8P5Zd87D3eJuU0eo6LBjFIiAbResqlTJhCE8MY9I63Cd0z
hzYdG/0IftGxaueDSxb3fXL4h1f12wfcH953y7LFpFjw1Pxy+5BwBo5OPbZt6bdDy354+KP+ebb+
ZTccPeseYnaR9fxQBmJ90fV414+eva/zdyuzI4HdP3LYb1svA4PKpQ8GNDEjEwTkVVEWA2Eow9Fh
9FOyRrI/QWCq/XInwnkS4Wgw/wyBlBhqaX1AfxhsZYNg3z/B1rL+ItLKZs38HUYa9fi6jNtxp4Gd
RtGTBPbBJ1ONc7A+YrhOuDcuuBX+6KPkwp6JnXDg0nC/Dn4l1bFIGxNqo00jRpNxESq1VMpJsIyP
ekFK+9rl7or2NntqYWpidKQnL+/M3M39zd0PJHSvbO+eJ+uBmU5Hc6LWlOlKzhr9C+zs3g+yjd6r
yrU3zlh7GHnM+mmYq9E+YtYVOonUbYTvJo6gSIXtKJ4RBet/w0PdeHg8zXgWYfHAJHYowXiyr4An
lwljeEzCO0w2wyLb4HOVfnzHGT7zlfCFM5Lfgf7TsLYyLDnDwdYyIoimXMxaLk9Vjq+0ZfdXu76D
pm8DrWdYUs6G1MMigs7DwJVe6eT9tIwHw+GJuT44KP4OoWBLDP7wWDwvPgnOYhyu4Jx0RonV4+QU
kZRIBvZ9jQENJ5tVny23sQomSwAxQBEbvufypzYXFLa0kYSgrnBr2nx726qhVo9108yS+tbSOWrX
mqUrIdNeU39Nfluu0WgwgNQqnl1QPGNaS3dh1ob4jlijYfrNK6R+dKvUL79s7D2ha27D2Dukcz56
nsXeory+jeehEnP6y3W5ad522U53BGr9xG439Afq/PfERQ3uZXE9ipofBtceX/wTiEt3eVxi9HtZ
bMVM+Sfi+6+k+RESvuMMXw5nujxGEkbFLoc+PlDRwux6METN0I99i++nWM0tIGd4yNOLRyT20s+I
OYMNJSkycB3l/EMeGl5KPXfRklKY/8C1mWxtUN7wkGc1Y4+4fsN43vA2rs9ltdNYVoXy5Q3BFfSH
PLMCPbQIJcRwSD1qfjliLgicdsZc1ejQ0MjJ13aljM6QaQ14oh2sYy1s32evqHA17Cu4Zc7aW5cN
79s3PEkZnzApPjIenDNvgz1SKxs6u6qKLYVTuxwzl/5n6ea9e1/bS/jIiCg+CtYv7Kb6x3ruuJ8k
er7hu+6OcCZ9Qiu+PKwxD9+gHw6NfXmRF3gO4rMuYTr2NHcN6toLf6bnHty6h10+vbwiPOqAg+At
oOIRAu6YJCfB8LTfRZ8xhMLnRBkKAaoTpckH8ziDaQwLMxznQ5gQnu0hKBUhDI8Iwp3Cco0J2LmJ
Gh2M+0ygCoeivClUf3l/nkF1B3nosOnUEWGm4Wl34EM26SL+nHa7e6VZF3hgfOiF56LG/kZU8Kkv
B6mRco9cuejmIEwOcvM/Csz1XjD+3VBa7xU8DY59w7Mbq00u877hWbVTbvlnRn+Defc/UubXlwlf
NtTPGd5rrS6sqXcP7y2V5uTZ/AHKQbwv7g+cQKCRv38KwS6apaBJBPhUlM8rwKFZyPg0Ay/arSBA
RMskMxCOOjw9xnGKDD6TFkzTLp88irCOI6wkGleGQkucKA9+0I1BohCK4cuJtpzNQjB9ihmfhqD7
9k9EgBn37R+L4P8l1rbYXA4/iFIr1ltCZnGUAZHXvsBxnE+kACtgYE94MGLlyLu+oAptu0gT1YkE
WiH1URVm334ihwP3PU7s8yEbBq4Td/0QvOGbt3rII/oENhfyjTQzzSa+HGo5m5uW2xyK+9etOyc8
PXMmZnjvdXlmCH9zQ71zjh16xbydTpwK4syXha23sLs7Z870dHbCQcdMB6wXXizvdAhG3wxyRC/m
7EzfdXSW0Ch68QzQ0hadr8CX4y82kFeJ5Sd99334yWHPvaUEbhZ+D8XC62Af+b1Ya9ja2Ap0HJlv
m3KdWOpr9g9RM/vGr2JxaAKN0KU41DD+WE9AOCEzGBk5IjV2+mATUUihwilxSuuFwGiiakm6blkl
dXzOFVm1O6Sg02d9ZkrxBDjKyhxAvV55ycIIFnIiH8RZ5veRCwXfc5o5l5VFLj/TLJx2LhyqvOfy
o82/Qk0z7ZNoGEL5F580vfKklVGk4ErzVv9lNFxp6upVkQoaz4i1gSe5KNSo5IDqAAktPfhKBU1B
gU1gzSCkyEvEWWXks5w9syRNMomsDJhZFhYwmtno8kmJMCLOQDH7MOHegFkoYQO7l41EvSvdC1zc
2FKSxjfS2QSwyPV8nKwQHPTZBwdtGjqkobjsOF4OC3ZEX+uQx6i1uaa6/KR4ZVphhjJeJrPVRU9V
K9xeXWpCoilHqZBFwreNwl8KLA15RUnx7tjM1PIMPVgbNw8ulXfLFaoidKrAtZJM1OMzrHfKLG+r
WPuZ7s+lad84E/b419CJZ1FqHvUdCX0WheTDEbRDtFrDen/SFEVTc9ZUY4miKWZBbc0Ccrw11+Ca
MQPXX0OquX/j+ii/F7dZDwYNb4hy70G48Yib9W6VYdLQx4ITTnImNLcErnusCLix87QrobWoUWYx
NJFLwYGpujxDJU/NzatOIPlFJbFORZGhjj7XQsrhWaSPeqhwEc1VYWMYUh0ctBDOgN7+UV9cj76i
hPoLmItuoppW6k6jh3hEDNjQMkIqXBSffaWtCzpzTh9+Zdd2Qio/JD0Xi9d2kg9G08SLwFXBX7lv
0UbSa0al9uYZ15fDXzMhRktrV3jtbemaljfehNd4wh62vdxzuITChJ+w+yjdRtqmxlcZ3i585ocv
fM6w0PVJuH6Tbz3FBPjaRVeq/ChBKUJnMxtj02E/wy0XsdP1P0UKQOUjQ1pOn6P5GeGlOWGLwj+d
fdHz+OP4g97xc/fow6TLzZ5hHnuArVX6n0Een+aW7mF30fu+dG90Cx64Hz8YHxdyT8MZYqc2IEec
IUE3DVcdXAErDq14ekX7jBUrZrQjxcvQR2xmzyIrqUfP8UeB4X6Dd8VhhpXsY3RX0AOT+pBPyhs5
p0GfVxf0DD3rcH/f5+jtE77Zetkn61/5356y3xryzD1gTtkDEWw2gs2VOLRXBc4cSTYE1zjFNeLc
RFvAxATGE3PRtzSLcsqe21bTaQCe+Hv92TCdvwnjjTiawbLpOV56VigVdNIJ8zfVkr3GPaR2eMMW
ofumWlwvzIGF6ILp6z4a59TSP2pZ/+A00UEhk30aRtCn0934F30e4Fl+JYv3c0VM41G+MfwTAr+Q
htzTg58UCJmV/2nY5wYovkcYvlRpX+FxPOIpCX0Ogc6+T4T5/+0DBcIAAAB42nWSwWrbQBCGfymO
SyHk3OMckxCElBg7zs0YDDkkUCeHXhVpJS+RJbGSDL70PfoSfZQ+QW99gt567L/rbRtKa6HZb2f+
f3a8NoBTfEaAw+dTMPEcYBx89RySv3s+wrvwwvMI4/C952O8CTeex8x/pDIYvWWjK+eyHOAk+OI5
JH/zfIQ4+OF5hJNw6fkYp+EHz2PmWyzRoMUeBholNughOEOGc64J5rjBDJee54x/+Jq0QE7/MxT5
kV06+hW2XAV3qNmnYefWxdTVckSsWWfFR7D+fW7ndoqronrntSsMrA3OL9RalSXDeun2vdNbtZCt
LnczpOQX5hoUjLZPzYrmTJq5mrknkp2tdK7C1WzvB/oH7nfM2CkP3y5yU0fAsmn3RpebXs6yc0nm
N7NLxnni4rUs8uZZyeO+69W2k7s6a0zbmLRXeSSyqCpZW28na9Ups2N2NfSDSUV3kopRpabRqFx6
k+Zqm5oXaQpZDXWuM93U8qTbpjRpobNUHtRQ7HRV8bhIFhzt9W3h0Be4d5ejmd5yo3I9bPHXvb6W
3PL3TTB174TvjDT51U0O/tskmSbTyXSWTP5zaMwn4W3Zlf/XOE6iOL76t/gn1BmWWgAAAHjabdFF
TBYAAEDhT8TADuxOROzu7u5Axe7u7s7p3PCiTtG5gRMxcYrdrbO7u/Oq/zz7tnd+hyfIP/6sV8H/
eBMwmSDJBUshpVRSC5FGWumkl0FGmWSWRVahsskuh5xyyS2PvPLJr4CCCimsiKKKKS5MCeFKilBK
aWWUVU75QLuiSiqroqpqqquhplpqq6OueuproKFGGmuiqWaaa6GlVlpro6122uugo04666KrbrqL
1ENPvUTprY++tlhgocOivbXIKsttEGurZe6bb63vflhpnSVOeuybjeL88tNvMXY476x4/fS32gAX
DXTOBVddctkV7wxywzXX7TTYV2vcdtMtQ3zwyVLDDDXcSCOMssloY40xzngTTTDJZO9NMc1U0800
wwGbzTbLHHN99NlBdzz3QoJdXnrlkNeBJ9vc9cwDDz3y1D1P7LbHfolO2Wuf0+Y5YbHtzjjiqCQr
fHHM8b/6XG9OAAAAAf//AAJ42mNgZGBg4ANiCQYQYGJgZGBmeAYkWcA8BgAORgEbAAABAAAACgAc
AB4AAWxhdG4ACAAEAAAAAP//AAAAAAAAeNpdkb1PAkEUxGeRGIJRj8RWKgo0RgtjCITSGE0o/ACR
k8bCxKixIDS0VhQ29BTWVltYWV9hZQe5mvoa/4L1t4cxkWLydt/OzM6+lZGUV1E7Mo83/SfllKUj
5+RPzMNtz/c033GWSWtOxnymzEDbaihUX8960ZfJml1zZ3rm1byBd/MBt+Ksqm6omhurDjouUQi6
YMrZktbdvQqg5CItw5/Bj+HP4Mf/eAN4A3iWJBX6dRDQHyugV6BugiLwnEPqETgGDfetc2qL/iX1
CoSsu2AVhyEOMxyGOFgcLA5jHCxqizpBbVHHKKM0Ux6Vv9MuKCIUEewIdgI71tpvwmgh4ThNOE+X
pOkucGmm6SLmFPPKE21oClZSD6/3nVPmegaa6NrsOyrzC2Vdgy7I/GXzK39vxL9N3Igp+te305mO
6AUqaUt72teBKqqqpjo3tHAMcZpo+gPcZL9XAAAAeNpjYGBgZACCY6nbT4Hog0l7VsFoAFJUB8AA
AA==) format('woff'), url('../fonts/Futura.ttf')  format('truetype'), url('../fonts/Futura.svg#Futura') format('svg');
  font-weight: normal;
  font-style: normal;
}








html, body, p {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Futura';
  overflow: hidden;
}
.container {
  background: #522d73;
  width: 100vw;
  height: 100vh;

}

.container .mona img {
  max-height: 100vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container .mona img.mobile {
  display: none;
}
.container .mona img.desktop {
  display: block;
}

.container .logo {
  width: 100px;
  position: absolute;
  left: 5%;
  top: 5%;
}

.container .logo .hojas {
  width: 40%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.container .logo .blame {
  position: relative;
  top: 5px;
  animation: giro 2s linear infinite forwards;
}

@keyframes giro {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.container .contador {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.container .contador p#timer {
  font-family: 'Futura-CondensedExtraBold';
  font-size: 10vw;
  text-align: center;
  letter-spacing: 20px;
}

.container .info-izquierda, .container .info-derecha {
  position: absolute;
  text-align: center;
  display: block;
  font-size: 20px;
}

.container .info-izquierda {
  bottom: 10%;
  left: 5%;
}

.container .info-derecha {
  bottom: 10%;
  right: 5%;
}

.redes {
  position: absolute;
  top: 5%;
  right: 5%;
}

.redes a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 20px;
}

@media (max-width: 750px) {
  .container .contador p#timer {
    letter-spacing: 10px;
    background: rgba(0,0,0,.3);
  }

  .container .info-izquierda {
  }

  .container .info-derecha {
  }

}

@media (max-width: 600px) {
  .container .contador p#timer {
    letter-spacing: 10px;
    background: rgba(0,0,0,.3);
  }
  .container .mona img.mobile {
    display: block;
  }
  .container .mona img.desktop {
    display: none;
  }
  .container .logo {
    width: 70px;
    top: 5% !important;
    left: 50%;
    transform: translateX(-50%);
  }
  .container .logo .hojas {
    width: 35%;
  }

  .container .info-izquierda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .container .info-derecha {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .redes {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    text-align: center;
  }
  .redes a {
    margin: 0 auto;
  }

}
